<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="newsListener"
          class="com.yicj.interf.service.impl.DowJonesNewsListener" />
    <bean id="newsPersister"
          class="com.yicj.interf.service.impl.DowJonesNewsPersister" />
    <bean id="newProvider"
          class="com.yicj.interf.FXNewProvider" />
</beans>


